<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="data:,">

    <!-- Material Design Lite Meta Tags -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <title>Home Page</title>
</head>
<body>
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
            <a href="#pokemons" class="mdl-tabs__tab is-active">Pokemons</a>
            <a href="#captured" class="mdl-tabs__tab">Party</a>
        </div>

        <div class="mdl-tabs__panel is-active" id="pokemons">
            <div class="mdl-grid">
                {% for pokemon in data %}
                    <a href="/{{pokemon.name}}">
                        <div class="mdl-cell mdl-cell--4-col">
                            <div class="demo-card-image mdl-card mdl-shadow--2dp" style="background: url({{pokemon.image}}) center / cover">
                                <div class="mdl-card__title mdl-card--expand"></div>
                                <div class="mdl-card__actions">
                                    <span class="demo-card-image__filename pokemon-name">{{pokemon.name}}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="mdl-tabs__panel" id="captured">
            <div class="mdl-grid">
                {% for pokemon in party %}
                    <div class="mdl-cell mdl-cell--4-col party-box">
                        <div class="demo-card-image mdl-card mdl-shadow--2dp party-image" style="background: url({{pokemon[1]}}) center / cover">
                            <form class="party-button" action="{{ url_for('release') }}" method="post">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="hidden-form" type="text" value="{{pokemon[0]}}" name="pokeNickname">
                                    <button class="party-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                                        Release
                                        <input class="hidden-form" type="submit">
                                    </button>
                                </div>
                            </form>
                            <div class="mdl-card__title mdl-card--expand"></div>
                            <div class="mdl-card__actions">
                                <span class="demo-card-image__filename pokemon-name">{{pokemon[0]}}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>